<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="edit" href="/lists/<%= params[:id] %>/edit">Edit List</a></li>
    </ul>
  </header>

  <ul>
    <% @list[:todos].each_with_index do |todo, index| %>
      <li>
        <%= todo[:name] %>
      </li>
    <% end %>
  </ul>
</section>

<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>

<form action="/lists/<%= @id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>
