<form action="/users/create" method="post">
  <label for="new_user">Create a new user:</label>
  <div>
    <label for"new_username">Username:</label>
    <input name="new_username" />
  </div>
  <div>
    <label for"new_password">Password:</label>
    <input name="new_password" />
  </div>
  <button type="submit">Create</button>
</form>
