@import url('whitespace_reset.css');

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#content {
  max-width: 1200px;
  overflow: hidden;
}

nav {
  background: #464f77;
  width: 330px;
  position: absolute;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 70px;
  color: #9da1b5;
}

nav header {
  padding: 0 30px 0 100px;
}

nav header img {
  padding-right: 5px;
}

nav h2 {
  display: inline-block;
  font: normal 18px Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  color: #d8d9e0;
}

.all-todos h2 {
  padding-right: 55px;
}

nav li {
  margin-bottom: 15px;
  color: #9a9eb1;
  padding: 0 30px 0 135px;
}

.completed li {
  text-decoration: line-through;
}

nav .circle {
  float: right;
}

#all-count {
  line-height: 40px;
}

.selected {
  background: #383f5f;
  padding: 10px 30px 10px 135px;
  color: #fff;
}

.selected .circle {

}

.all-todos {
  padding-bottom: 60px;  
}

h1 {
  font: 21px normal Helvetica, Arial, sans-serif;
  display: inline-block;
  padding-right: 15px;
}

/**** Items for Todo ****/

main {
  padding: 23px 90px 0 360px;
}

#hamburger {
  content: url('images/img_hamburger.png');
  padding-bottom: 36px;
}

main > header {
  padding-bottom: 40px;
}

main div.circle {
  display: inline-block;
}

a.add {
  color: #148fd5;
  text-decoration: none;
}

#plus {
  display: inline-block;
  padding-right: 15px;
}

p {
  display: inline-block;
  padding-bottom: 14px;
}

input[type="checkbox"] {
  display: none;
}

label, label:before {
  cursor: pointer;
}

label:hover {
  color: #148fd5;
}

label:before {
  content: url('images/img_not_checked.png');
  display: inline-block;
  background-color: #fff;
  padding-right: 15px;
}

input[type="checkbox"]:checked + label:before {
    content: url('images/img_checked.png');
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;  
}

main li {
  padding: 18px 0;
  border-top: 1px solid #e7e7e7;
}

.delete {
  float: right;
  height: 20px;
  width: 15px;
}

.delete button {
  display: inline-block;
  color: transparent;
  cursor: pointer;
  background: transparent url('images/img_trash_can.png') no-repeat;
  border: none;
}
