<h1>Welcome to the Number Guessing Game!</h1>

<h3>You have $<%= session[:money] %> left.</h3> 

<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<form action="/make_bet" method="post">
  <p>
    <label>Bet:
      <input name="bet" type="text" />
    </label>
  </p>
  <p>
    <button name="guess" value="1">Guess 1</button>
    <button name="guess" value="2">Guess 2</button>
    <button name="guess" value="3">Guess 3</button>
  </p>
</form>
