body {
  font-family: sans-serif;
  padding: 1em;
}

.message {
  background-color: #FFFF99;
  padding: 10px;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
